body{
    background-color: #19171f;
}

.main-content{
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}

.top{
    margin-top: 2em;
}

.container{
    display: flex;
    align-items: initial;
    justify-content: left;
    padding: .5em 0 .5em 1em;
}

.container-projects{
    display: grid!important;
}

.inner{
    background-color: #1c1925;
    justify-content: right;
}

.dinner{
    background-color: #19171f;
}

.small-container{
   display: flex;
   text-align: left;
   font-family: 'Unbounded';
   padding: .5em 0 .5em 1em;
   justify-content: end!important;
}

.footer{
    vertical-align: bottom;
    text-align: center;
    font-family: 'Unbounded';
    font-size: 12px;
    line-height: 0px;
}

.redes-sociais{
    display: flex;
    margin-left: .5em;
    margin-top: 2em;
}

.img-project-icon {
    height: 4em;
    width: 4em;
    margin: 2em;
    border-radius: 1em;
}

.title-project{
    text-align: center;
    font-family: 'Unbounded';
    font-size: 24px;
    padding: .5em 0 .5em 1em;
}

.footer .extra{
    font-size: 8px;
}

.img-icon{
    border-radius: 2em;
    width: 12em;
    height: 12em;
    margin-left: 2em;
}

.text-icon{
    margin-left: 1em;
    line-height: .2em;
    font-family: 'Unbounded';
}

.title-icon{
    margin-left: .1em;
    line-height: .2em;
    font-family: 'Unbounded';
    position: fixed;
    display: flex;
    justify-content: left;
    text-align: left;
}

.title{
    vertical-align: top;
    text-align: center;
    font-family: 'Unbounded';
    font-size: 28px;
    line-height: 0px;
}

.icon1{
    background-color: #d3d3d36e;
    height: 2em;
    width: 2em;
    border-radius: .7em;
    margin: .3em;
}